# Amazon SP-API credentials
EU_REFRESH_TOKEN=
EU_LWA_CLIENT_ID=
EU_LWA_CLIENT_SECRET=

NA_REFRESH_TOKEN=
NA_LWA_CLIENT_ID=
NA_LWA_CLIENT_SECRET=

# Email (Resend)
RESEND_API_KEY=

# MSP Warehouse (Mailship)
MSP_LOGIN=
MSP_PASSWORD=
MSP_WAREHOUSE_ID=
